spring:
  application:
    name: shortcircuit-server

  jpa:
    properties:
      hibernate:
        order_inserts: true
        order_updates: true
        jdbc:
          batch_size: 128

  cloud:
    function:
      definition: consumeRun;consumeCancel
    stream:
      bindings:
        consumeRun-in-0:
          destination: ${powsybl-ws.rabbitmq.destination.prefix:}shortcircuitanalysis.run
          group: shortcircuitanalysisGroup
          consumer:
            concurrency: 2
            max-attempts: 1
        publishRun-out-0:
          destination: ${powsybl-ws.rabbitmq.destination.prefix:}shortcircuitanalysis.run
        publishDebug-out-0:
          destination: ${powsybl-ws.rabbitmq.destination.prefix:}shortcircuitanalysis.debug
        publishResult-out-0:
          destination: ${powsybl-ws.rabbitmq.destination.prefix:}shortcircuitanalysis.result
        consumeCancel-in-0:
          destination: ${powsybl-ws.rabbitmq.destination.prefix:}shortcircuitanalysis.cancel
        publishCancel-out-0:
          destination: ${powsybl-ws.rabbitmq.destination.prefix:}shortcircuitanalysis.cancel
        publishStopped-out-0:
          destination: ${powsybl-ws.rabbitmq.destination.prefix:}shortcircuitanalysis.stopped
        publishCancelFailed-out-0:
          destination: ${powsybl-ws.rabbitmq.destination.prefix:}shortcircuitanalysis.cancelfailed
      output-bindings: publishRun-out-0;publishDebug-out-0;publishResult-out-0;publishCancel-out-0;publishStopped-out-0:publishCancelFailed-out-0
      rabbit:
        bindings:
          consumeRun-in-0:
            consumer:
              auto-bind-dlq: true
              dead-letter-exchange: ${powsybl-ws.rabbitmq.destination.prefix:}shortcircuitanalysis.run.dlx
              dead-letter-queue-name: ${powsybl-ws.rabbitmq.destination.prefix:}shortcircuitanalysis.run.dlx.dlq
              dead-letter-exchange-type: topic
              quorum:
                enabled: true
                delivery-limit: 2

computation:
  s3:
    enabled: true

debug-subpath: debug

powsybl-ws:
  database:
    queryBegin: '&'
    customQuery: ${powsybl-ws.database.customQueryBegin}reWriteBatchedInserts=true
    name: shortcircuit

shortcircuit-analysis:
  default-provider: default-provider
